### Maven ###
**/target/
.idea/

### Intellij ###
*.iml

### Secrets ###
**/bcrypt-user.properties

### Java spills ###
*.class
*.war
*.ear

.project
.classpath
.settings

### Specific ###
**/data/
/addon-jars/*.jar
/k8s/overlays/cloud/hpa.yaml
/k8s/overlays/cloud/ingress.yaml
k8s/base/deployment.yaml.template
k8s/base/deployment.yaml
**/setenv.sh
k8s/overlays/cloud/deployment_patch.yaml
/.java-version
/DockerfileLocal
