### Maven ###
**/target/
.idea/

### Intellij ###
*.iml

### Secrets ###
**/bcrypt-user.properties

### Java spills ###
*.class
*.war
*.ear

.project
.classpath
.settings

### Specific ###
**/data/
/addon-jars/*.jar
