### Maven ###
**/target/
.idea/

### Intellij ###
*.iml

### Secrets ###
**/bcrypt-user.properties

### Java spills ###
*.class
*.jar
*.war
*.ear

.project
.classpath
.settings

### Specific ###
**/data/
/bcrypt-addon/target/
/addon-jars/bcrypt-addon.jar

bcrypt-addon/src/main/java/test/
bcrypt-addon/src/test/
