<module name="javax.ws.rs.api" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="jboss-jaxrs-api_2.1_spec-2.0.2.Final.jar"/>
    </resources>

    <dependencies>
        <module name="java.logging"/>
        <module name="java.xml"/>
        <module name="org.jboss.modules"/>
        <!-- Export the services for RESTful Web Services implementation -->
        <module name="org.jboss.resteasy.resteasy-client" services="export"/>
        <module name="org.jboss.resteasy.resteasy-core" services="export"/>
        <module name="javax.xml.bind.api"/>
        <!--WFLY-14219 Remove deprecated <module name="javax.api"/> -->
    </dependencies>
</module>